body {
  margin: 0;
  padding: 0;
}

p,span{font-family:Roboto;
    
}

.logo {
  height: 50%;
  margin: auto 12px;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 56px;
  background-color: #303030;
}

.hamburguesa {
  color: white;
  font-size: 24px;
  margin: auto 16px;
}

.busqueda {
  margin: auto 20%;
  height: 50%;
}

.busqueda input {
  border-color: gray;
  background-color: black;
  margin: 0;
  border-style: solid;
  border-width: 0.5px;
  height: 100%;
  width: 300px;
}

.busqueda button {
  margin: 0;
  padding: 0;
  background-color: gray;
  color: lightgray;
  border-style: solid;
  border-width: 0.5px;
  height: 100%;
  padding: 5px 16px;
}

.video{
    margin-left: 250px;
    margin-top: 12px;
    
    
}

.videoyoutube{
    width: 853px;
    height: 480px;
   
   }

.textovisitas
{  color: rgb(144,144,144);
   font-size: 0.8em;
      display:inline;
    
}
.manita{
   font-size:20px;
   color: rgb(144,144,144);
   margin-left: 255px;
   display:inline;
    
    
   } 

.manita-abajo{
    
    font-size:20px;
      margin-left: 10px;
    color: rgb(144,144,144);
     display:inline; 
}

.manita-numero{
    font-size: 0.8em;
    color: rgb(144,144,144);

}


.inline{
display:inline;
}
    


.centralvertical{
    
    display:flex;
    flex-direction:row;
    align-items: center;
}

.barra-bajo-titulo {
  display: flex;
  flex-direction: row;
}